<div>
  <p><%= @review.conversation_id %></p>
</div>

<div>
  <h2><%= @review.conversation.intercom_id %></h2>
  <% @review.conversation.conversation_parts.each do |part| %>
    <p class= <%= conversation_render_side(part.author_id) %> >
      <%= content_render(part).html_safe %>
    </p>
  <% end %>
</div>

<%= form_for @review, url: {action: "submit"}, :html => { :method => :post } do |r| %>
  <%= r.label :tone %>:
  <%= r.text_field :tone %><br />

  <%= r.label :quality %>:
  <%= r.text_field :quality %><br />

  <%= r.label :fip %>:
  <%= r.text_field :fip %><br />

  <%= r.label :notes %>:
  <%= r.text_field :notes %><br />

  <%= r.hidden_field :id, value: @review.id %>

  <%= r.submit %>
<% end %>
